<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>vue-lesson</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.0/dist/vue.js"></script>
  </head>
  <body>
    <div class="sample">
      <h2 v-show="todoItems.length == 0">Please add new task</h2>
      <h2 v-show="todoItems != 0"> {{ message }} </h2>
      
      

      <form class="form-inline" action="" v-on:submit.prevent="addTask">
        <div class="form-group mx-sm-3 mb-3" >
          <input type="text" class="form-control" v-model="todoItems.text" placeholder="Add new Task">

        </div>
          <button v-if="this.todoItems.text !== undefined" v-on:submit.stop.prevent="" class="btn btn-primary mb-3" >Add</button> 
          <button  v-else="this.todoItems.text == undefined" type="submit" class="btn btn-basic mb-3" v-bind:disabled="this.todoItems.text == undefined">Give task</button>
        
      </form>
      <form class="form-inline" action="" v-on:submit.prevent="filteredItems">
        <div>
          <input placeholder="Search" class="mx-sm-3 mb-3 form-control" type="text" v-model="search" />
        </div>
        <button  type="submit" class="btn btn-primary mb-3" >Search</button>
      </form>
      <br>
      <div>
        <button class="btn btn-primary mb-3" v-on:click="filterAll" >All Task</button> 
        <button class="btn btn-primary mb-3" v-on:click="filterTrue" >Comleted Task</button> 
        <button class="btn btn-primary mb-3" v-on:click="filterFalse" >Uncompleted Task</button> 
      </div>
      <ul class="list-group">
        <li class="list-group-item"
            v-for="item in todoItems"
            v-for="item.text in filteredItems"><button v-if="item.done == true" class="btn btn-success" v-on:click="item.done = false">completed</button> <button  v-else="item.done == false" v-on:click="item.done = true"class="btn btn-basic" >in order</button> {{ item.text }}</li>
      </ul>
      
    </div>
    <script type="application/javascript">
      let sample = new Vue({
          el:'.sample',
        data: {
          search: '',
          message: 'Hello from Vue App',
          text: '',
          todoItems: [
            
          ]
        },
        methods: {
          addTask(event){
            let i = 0;
            this.todoItems.push({id: 'i', text: this.todoItems.text, done: false});
            i++;
            this.todoItems.text = ""
          },

          filterFalse(){ 
            let result = this.todoItems.filter((item) => item.done == false);
            
            return this.todoItems.push(result);
          },

          filterTrue(){
            let result = this.todoItems.filter((item) => item.done == true);
            
            return console.log(result);  
          },

          filterAll(){
            let result = this.todoItems.filter((item) => item.done.length == false || true);
            return this.todoItems.push(result);
          },
        },
        computed: {
          
        },
      });
    </script>
  </body>
</html>
